{% extends 'base.html' %}

{% load static %}
{% block content %}


<body>

  <div id="whatsapp">
    <a href="https://wa.me/905327483718" target="_blank" id="toggle1" class="wtsapp">
     <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>

  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog Sayfası</h2>
          <ol>
            <li><a href="{% url 'index' %}">Ana Sayfa</a></li>
            <li>Blog</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">
          
          <div class="col-lg-8 entries">
            {% for blog in blog_photo %}
            <article class="entry">
              
              <div class="entry-img">
                <img src="{{ blog.image.url }}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a>{{blog.title}}</a>
              </h2>

              <div class="entry-content">
                <p>
                  {{blog.description}}
                </p>
              </div>
              
            </article><!-- End blog entry -->
            {% endfor %}
          </div><!-- End blog entries list -->
          
        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  {% endblock %}