{% load static %}


<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-top">
      <div class="container">
        <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
            <h3>Akademi Dekor Hakkında</h3>
            <p>Estetikten ilham alarak, sizin için en iyi dekorasyon çözümlerini sunuyoruz. Akademi Dekor ile hayallerinizi gerçeğe dönüştürün!</p>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/akademidekor" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/akademi_dekor" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Çalışma Saatlerimiz</h4>
            <ul>
              <li> Pazartesi - Cumartesi: 09:00 - 19:30</li>
              <li> Pazar: 12:30 - 19:30</li>
            
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>İletişim</h4>
            <p>
              Merkez Mahallesi, Şamlı Sokak, 38/C <br>
              34310, Avcılar/İSTANBUL<br><br>

              <strong>Telefon:</strong> (0532) 748 37 18<br>
              <strong>Email:</strong> osmantskn@hotmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Akademi Dekor</span></strong>. Tüm Hakları Saklıdır
      </div>
      <div class="credits">
        Designed by <a href=>Enes Gür</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>