{% extends 'base.html' %}

{% load static %}
{% block content %}


<body>

  <div id="whatsapp">
    <a href="https://wa.me/905327483718" target="_blank" id="toggle1" class="wtsapp">
     <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Akademi Dekor'a <br> <span>Hoşgeldiniz</span> </br> </h2>
          <p class="animate__animated animate__fadeInUp">Duvarlara sanat katıyoruz! Duvardan tavana özel tasarım duvar kağıdı, duvar çıtası, panel ve stropiyer çözümleriyle yaşam alanlarınıza büyüleyici bir dokunuş sağlıyoruz.</p>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="{% static 'img/why-us.jpg' %}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=VFy-jZteeuI" target="_blank" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-brush"></i></div>
              <h4 class="title"><a href="https://www.youtube.com/watch?v=VFy-jZteeuI" target="_blank">Duvar Kağıdı Nasıl Uygulanır ?</a></h4>
              <p class="description">YouTube sayfamızdaki videoları izleyerek detaylı bilgi edinebilirsiniz...</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-bulb"></i></div>
              <h4 class="title"><a href="https://www.instagram.com/akademi_dekor" target="_blank">Şıklığı ve Zarafeti Bir Arada Sunuyoruz</a></h4>
              <p class="description">Akademi Dekor ile mekânlarınıza ve evlerinize özgünlük katın...</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

  </main><!-- End #main -->

</body>

</html>

{% endblock %}