{% extends 'base.html' %}

{% load static %}
{% block content %}


<body>

  <div id="whatsapp">
    <a href="https://wa.me/905327483718" target="_blank" id="toggle1" class="wtsapp">
     <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Akademi Dekor'a <br> <span>Hoşgeldiniz</span> </br> </h2>
          <p class="animate__animated animate__fadeInUp">Duvarlara sanat katıyoruz! Duvardan tavana özel tasarım duvar kağıdı, duvar çıtası, panel ve stropiyer çözümleriyle yaşam alanlarınıza büyüleyici bir dokunuş sağlıyoruz.</p>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">İndirimli Duvar Kağıtları</h2>
          <p class="animate__animated animate__fadeInUp">Kaliteli tasarımlar, uygun fiyatlar, ve sınırsız seçeneklerle dolu seri sonu indirimli duvar kağıtlarıyla evinizin dekorasyonunu hızla ve keyifle yenileyin!</p>
          <a href="{% url 'avcilar_duvar_kagidi-deposu-serisonu' %}" class="btn-get-started animate__animated animate__fadeInUp">İndirim Butonu</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Sale Section ======= -->
    {% comment %} <section class="sale_section section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">

          <div class="d-flex flex-column justify-content-center p-5">
            <div class="col-lg-12 text-center">
              <img src="{% static 'img/cita_sale.jpg' %}" class="img-fluid" alt="Added Image">
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Sale Section --> {% endcomment %}

    <!-- ======= Features Section ======= -->
    <section class="features section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Akademi Dekor</h2>
          <p>Avcılar Duvar Kağıdı ve Salon Çıtası Deposu</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <a href="{% url 'avcilar_duvar_kagidi-deposu-vinil' %}">
              <img src="{% static 'img/duvar_kagidi.jpg' %}" class="img-fluid" alt="">
            </a>
          </div>
          
          <div class="col-md-7 pt-4">
            <h3>Duvar Kağıtları</h3>
            <p class="fst-italic">
              Duvarlarınızı renk ve desenle hayatlandırın - Geniş koleksiyonumuzdaki duvar kağıtlarıyla evinize yeni bir soluk getirin.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Hızlı Teslimat Ve Uzman Kadro</li>
              <li><i class="bi bi-check"></i> Uygun Fiyat</li>
              <li><i class="bi bi-check"></i> Binlerce Renk Ve Desen Seçeneği</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <a href="{% url 'salon-cita-koridor' %}">
              <img src="{% static 'img/duvar_citasi.jpg' %}" class="img-fluid" alt="">
            </a>
          </div>
          
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Duvar Çıtası</h3>
            <p class="fst-italic">
              İç mekanlarınızı özelleştirin - Dekoratif duvar çıtalarımızla yaşam alanlarınızı kendinize özgü kılın.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Hızlı Teslimat Ve Uzman Kadro</li>
              <li><i class="bi bi-check"></i> Uygun Fiyat</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <a href="{% url 'stropiyer-avcilar-tavan-kaplama' %}">
              <img src="{% static 'img/tavan_kaplama.jpg' %}" class="img-fluid" alt="">
            </a>
          </div>
          <div class="col-md-7 pt-5">
            <h3>Tavan Kaplama</h3>
            <p class="fst-italic">
              Evinizi bir sarayın asaletiyle süsleyin - Saray tavan motifleri ve göz alıcı tavan kaplama ile estetik şölenin tadını çıkarın!
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Hızlı Teslimat Ve Uzman Kadro</li>
              <li><i class="bi bi-check"></i> Uygun Fiyat</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <a href="{% url 'stropiyer-duvar-kaplama-fjg3x' %}">
              <img src="{% static 'img/duvar_paneli.jpg' %}" class="img-fluid" alt="">
            </a>
          </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
              <h3>Duvar Paneli</h3>
              <p class="fst-italic">
                Duvarlarınızı şımartın - Estetik duvar panelleri ve canlı 3D duvar kaplamalarıyla görsel bir şölen yaşayın.
              </p>
              <ul>
                <li><i class="bi bi-check"></i> Hızlı Teslimat Ve Uzman Kadro</li>
                <li><i class="bi bi-check"></i> Uygun Fiyat</li>
              </ul>
            </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <a href="{% url 'stropiyer-kartonpiyer-avcilar' %}">
              <img src="{% static 'img/dekorasyon_profilleri.jpg' %}" class="img-fluid" alt="">
            </a>
          </div>
          <div class="col-md-7 pt-4">
            <h3>Stropiyer</h3>
            <p class="fst-italic">
              Tavanlarda zarafetin öncüsü - Stropiyer ve kartonpiyer modellerimizle evlerinizde yüksek kalitede dekorasyon sunuyoruz.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Hızlı Teslimat Ve Uzman Kadro</li>
              <li><i class="bi bi-check"></i> Uygun Fiyat</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

</body>

</html>

{% endblock %}